
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Deneyim Ekle</h4>
<br />
<form method="post">
    <input type="text" name="title" class="form-control" placeholder="Başlık" />
    <br />
    <input type="text" name="subtitle" class="form-control" placeholder="Alt Başlık" />
    <br />
    <input type="text" name="date" class="form-control" placeholder="Çalışma Tarihi" />
    <br />
    <textarea placeholder="Açıklama" class="form-control" name="description" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>